{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
<link href="{% static 'ie/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'ie/css/nifty.min.css' %}" rel="stylesheet">
<link href="{% static 'ie/css/themes/type-a/theme-dust.min.css' %}" rel="stylesheet">
<link href="{% static 'ie/premium/icon-sets/icons/line-icons/premium-line-icons.min.css' %}" rel="stylesheet">
<link href="{% static 'ie/premium/icon-sets/icons/solid-icons/premium-solid-icons.min.css' %}" rel="stylesheet">
{% if datatables %}
  <link href="{% static 'ie/css/datatables.css' %}" rel="stylesheet"/>
{% endif %}
<link href="{% static 'ie/css/style.css' %}?refresh" rel="stylesheet">
<link rel="shortcut icon" type="image/ico" href="{% static 'ie/img/favicon.ico' %}"/>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-j8y0ITrvFafF4EkV1mPW0BKm6dp3c+J9Fky22Man50Ofxo2wNe5pT1oZejDH9/Dt" crossorigin="anonymous">

{% if SITE_ID == 1 %}
  <link href="{% static 'ie/css/styles.1.css' %}?sep092018" rel="stylesheet">
{% else %}
  <link href="{% static 'ie/css/styles.2.css' %}?sep092018" rel="stylesheet">
{% endif %}
{% if tinymce %}
  <script type="text/javascript" src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
{% endif %}
{% if gallery %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
{% endif %}

{% if map %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
<link rel="stylesheet" href="{% static 'ie/css/leaflet-fullscreen.css' %}" />
{% endif %}
