{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}YSTAFDB{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}


<div class="panel">
  <div class="panel-heading">
      <h3 class="panel-title">Overview</h3>
  </div>
  <div class="panel-body">

    <ul class="nav nav-list">
        <li><a href="{% url 'staf:processes' %}">Processes</a></li>
        <li><a href="{% url 'staf:materials' %}">Materials</a></li>
        <li><a href="{% url 'staf:units' %}">Units</a></li>
    </ul>

    <h2>Datasets</h2>

    <ul class="nav nav-list">
    {% for info in datasets %}
      <li><a href="{% url 'staf:dataset' info.id %}">{{ info.name }}</a></li>
    {% endfor %}
    </ul>
        

  </div>
</div>
    

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">YSTAFDB</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="">Tools</a></li>
        <li class="active">YSTAFDB</li>
    </ol>

</div>

{% endblock %}

{% block footer %}

{% endblock %}
