{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Datasets{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}


<div class="panel">
  <div class="panel-heading">
      <h3 class="panel-title">Datasets</h3>
  </div>
  <div class="panel-body">

    <ul class="nav nav-list">
    {% for info in list %}
      <li><a href="{% url 'staf:dataset' info.id %}">{{ info.name }}</a></li>
    {% endfor %}
    </ul>

    <p><a href="{% url 'staf:dataset.create' %}" class="btn btn-info">Create new dataset</a></p>

  </div>
</div>
    

{% endblock %}

{% block head %}
<style type="text/css">
.panel-body ul.nav-list{margin-bottom:30px}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Urban Metabolism Data</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'staf:index' %}">Data</a></li>
        <li class="active">Datasets</li>
    </ol>

</div>

{% endblock %}

{% block footer %}

{% endblock %}
