{% extends 'multiplicity/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}Flows | {{ info.name }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}


<div class="panel">
  <div class="panel-heading">

  {% include 'staf/includes/dataset.topnav.html' %}

  </div>
  <div class="panel-body">

    <h4>Upload data</h4>

    <form action="" method="post" class="form form-horizontal" enctype="multipart/form-data">
      <p>Please upload your data as a CSV file. <a href="http://">Download template file</a></p>
        {% csrf_token %}

        <div class="form-group">
          <label class="col-sm-2 control-label">Flow</label>
          <div class="col-sm-10">
            <a href="{% url 'staf:flow' flow.dataset.id flow.id %}">
              <strong>
              {{ flow.name }}
              </strong>
            </a>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">File</label>
          <div class="col-sm-10">
            <input class="form-control" type="file" name="file" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
    </form>

  </div>
</div>
    

{% endblock %}

{% block head %}
<style type="text/css">
.form-group .col-sm-10 strong{position:relative;top:5px}
.date{  border-bottom: 1px dashed #999;}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{{ info.name }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'staf:index' %}">Data</a></li>
        <li><a href="{% url 'staf:datasets' %}">Datasets</a></li>
        <li><a href="{% url 'staf:dataset' info.id %}">{{ info.name }}</a></li>
        <li><a href="{% url 'staf:flows' info.id %}">Flows</a></li>
        {% if flow.id %}
          <li><a href="{% url 'staf:flow' info.id flow.id %}">{{ flow.name }}</a></li>
          <li class="active">Manage data</li>
        {% else %}
          <li class="active">Add flow</li>
        {% endif %}
    </ol>

</div>

{% endblock %}

{% block footer %}

{% endblock %}
