{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ info.name }} | Datasets{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}


<div class="panel">
  <div class="panel-heading">

  {% include 'staf/includes/dataset.topnav.html' %}

      <h3 class="panel-title">{{ info.name }}</h3>
  </div>
  <div class="panel-body">

    {% if flowmeta %}

    <h4>Flows</h4>

    <ul class="nav nav-list">
      {% for details in flowmeta %}
        <li><a href="{% url 'staf:createflow' details.id %}">{{ details.name }}</a></li>
      {% endfor %}
    </ul>

    {% endif %}

    <h4>Delete</h4>

    <form method="post" action="{% url 'staf:dataset' info.id %}">{% csrf_token %}
        <input type="submit" value="Delete this dataset" class="btn btn-danger">
    </form>

  </div>
</div>
    

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{{ info.name }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'staf:index' %}">Data</a></li>
        <li><a href="{% url 'staf:datasets' %}">Datasets</a></li>
        <li class="active">{{ info.name }}</li>
    </ol>

</div>

{% endblock %}

{% block footer %}

{% endblock %}
