{% extends 'multiplicity/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}YSTAFDB: {{ title }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}


<div class="panel">
  <div class="panel-heading">
      <h3 class="panel-title">{{ title }}</h3>
  </div>
  <div class="panel-body">

    <div class="alert alert-info">
        Linked publications: <strong><a href="{% url 'core:reference' reference.id %}">{{ reference.title }}</a></strong>
    </div>

    <form action="{% url 'staf:createflowmeta' dataset.id reference.id %}" method="post" class="form form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% buttons submit='Next' layout='horizontal' %}{% endbuttons %}
    </form>

  </div>
</div>
    

{% endblock %}

{% block head %}
<style type="text/css">
form p label{display:inline-block;width:80px}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">YSTAFDB</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="">Tools</a></li>
        <li><a href="{% url 'staf:index' %}">YSTAFDB</a></li>
        <li><a href="{% url 'staf:datasets' %}">Datasets</a></li>
        <li><a href="{% url 'staf:dataset' dataset.id %}">{{ dataset.name }}</a></li>
        <li class="active">{{ title }}</li>
    </ol>

</div>

{% endblock %}

{% block footer %}

{% endblock %}
