{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Urban metabolism data: Processes{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}


<div class="panel">
  <div class="panel-heading">
      <h3 class="panel-title">Process Groups</h3>
  </div>
  <div class="panel-body">

    <table class="table table-striped">
      <tr>
        <th>Group</th>
        <th>Slug</th>
      </tr>
      {% for details in list %}
        <tr>
          <td><a href="{% url 'staf:processgroup' details.id %}">{{ details.name }}</a></td>
          <td>{{ details.slug }}</td>
        </tr>
      {% endfor %}
    </table>


  </div>
</div>
    

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Urban metabolism data</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'staf:index' %}">Data</a></li>
        <li class="active">Processes</li>
    </ol>

</div>

{% endblock %}

{% block footer %}

{% endblock %}
