{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Urban metabolism data: Processes{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}


<div class="panel">
  <div class="panel-heading">
      <h3 class="panel-title">{{ info.name }}</h3>
  </div>
  <div class="panel-body">


    <p>The following processes are part of this group:</p>
    
      <table class="table table-striped">
        <tr>
          <th>Code</th>
          <th>Name</th>
        </tr>
        {% for details in info.processes.all %}
          <tr>
            <td>{{ details.code }}</td>
            <td>{{ details.name }}</td>
          </tr>
        {% endfor %}
      </table>

  </div>
</div>
    

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Urban metabolism data</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'staf:index' %}">Data</a></li>
        <li class="active">Processes</li>
    </ol>

</div>

{% endblock %}

{% block footer %}

{% endblock %}
