{% extends 'multiplicity/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}Organization{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'team:controlpanel' %}">Back-end</a></li>
        <li><a href="{% url 'core:admin_organization_list' %}">Organizations</a></li>
        {% if info.id %}
          <li class="active">{{ info.title }}</li>
        {% else %}
          <li class="active">Create new organization</li>
        {% endif %}
    </ol>

  <h2>{{ info|yesno:"Edit details,Add new organization" }}</h2>
  <form method="post" class="form form-horizontal boxit pad-all" enctype="multipart/form-data">

    {% bootstrap_form form layout='horizontal' %}

    <div class="form-group">
      <label class="col-md-3 control-label" for="processes">Processes</label>
      <div class="col-md-9">
        <select class="form-control" name="process" id="processes" multiple>
          {% for details in processes %}
            <option value="{{ details.id }}" {% if details in info.processes.all %}selected{% endif %}>{{ details.code }}. {{ details.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    {% buttons %}
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    {% endbuttons %}
    {% csrf_token %}
  </form>

{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'ie/js/summernote/summernote.min.css' %}" />
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'ie/js/summernote/summernote.min.js' %}"></script>
<script type="text/javascript">
$(function(){
  $("#id_date").attr("type", "date");
  $("#id_website").attr("placeholder", "'youtube' or 'vimeo' (lowercase, no spaces, no quotation marks)");
  $('#id_description').summernote({
      height : '230px'
  });
  $("#id_parent").select2();
  $("#id_people").select2();
  $("#id_reference_spaces").select2();
});
</script>
{% endblock %}
