{% extends 'multiplicity/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}Project{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'team:controlpanel' %}">Back-end</a></li>
        <li class="active">Project</li>
    </ol>

  <h2>{{ info|yesno:"Edit details,Add new project" }}</h2>
  <form method="post" class="form form-horizontal boxit pad-all" enctype="multipart/form-data">
    {% bootstrap_form form layout='horizontal' %}

    <div class="form-group">
      <label class="col-md-3 control-label" for="id_url">Publication(s)</label>
      <div class="col-md-9">
        <select id="references" name="references" width="100%" class="form-control" multiple>
            {% for details in info.references.all %}
              <option value="{{ details.id }}" selected>{{ details.title }} ({{ details.year }})</option>
            {% endfor %}
        </select>
      </div>
    </div>

    {% buttons %}
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    {% endbuttons %}
    {% csrf_token %}
  </form>

{% endblock %}

{% block head %}
<style type="text/css">
.form-horizontal .col-md-3[for='id_description']{width:100%;text-align:left}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){
  $("#id_start_date").attr("type", "date");
  $("#id_end_date").attr("type", "date");
  $('#references').select2({
    width: '100%',
    ajax: {
      url: '{% url 'core:reference_search_ajax' %}',
      dataType: 'json',
      processResults: function (data) {
        return {
          results: data
        };
      },
    }
  });

});
</script>
{% endblock %}
