{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Publications{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'team:controlpanel' %}">Back-end</a></li>
        <li class="active">Publications</li>
    </ol>

  <h3>Publications</h3>

  <div class="row">
    <div class="col-lg-12">
        <div class="boxit pad-all">
          <table class="table table-striped datatable">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Date</th>
                <th>Added</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            {% for details in list %}
              <tr>
                <td><a href="{% url 'core:admin_reference' details.id %}">{{ details.id }}</a></td>
                <td>{{ details.title|truncatewords:10 }}</td>
                <td>{{ details.year }}</td>
                <td>{{ details.date_added }}</td>
                <td>{{ details.status }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        </div>
    </div>
  <p class="pad-top"><a href="{% url 'core:newreference' %}" class="btn btn-success"><i class="fas fa-plus fa-fw"></i> Add new publication</a></p>
</div>


{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block footer %}

{% endblock %}
