{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Datasets | {{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

  {% if datasets %}
    {% include 'multiplicity/includes/datasetlist.html' %}
  {% else %}
    <div class="alert alert-danger">No datasets available yet.</div>
  {% endif %}

{% endblock %}

{% block head %}
  {% include 'multiplicity/includes/charts.head.html' %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{{ info.name }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
        <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
        <li class="active">Datasets</li>
    </ol>

</div>
{% endblock %}

{% block footer %}
  {% if datasets %}
    {% include 'multiplicity/includes/charts.footer.html' %}
  {% endif %}
{% endblock %}
