{% extends 'multiplicity/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}Photo{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
      <div class="panel panel-body">
        <div class="panel-heading">
          <h3>Upload photo</h3>
        </div>
          <div class="panel-body" style="margin-top:30px">
            <div class="alert alert-info">
              Important note: 
              only use photos that have a permissive license (creative commons, public domain, etc.). 
              Do not use photos without a clearly defined permissive license unless you have
              permission from the creator.
            </div>
            <form method="post" class="form form-horizontal" enctype="multipart/form-data">
              {% bootstrap_form form layout='horizontal' %}
              <div class="form-group">
                <label class="col-md-3 control-label" for="processes">Processes</label>
                <div class="col-md-9">
                  <select class="form-control" name="process" id="processes">
                    <option value=""></option>
                    {% for details in processes %}
                      <option value="{{ details.id }}" {% if photo.process == details %}selected{% endif %}>{{ details.code }}. {{ details.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              {% buttons %}
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-success">
                    Save
                  </button>
                </div>
              {% endbuttons %}
              {% csrf_token %}
          </form>
        </div>
      </div>
  </div>
</div>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){
  $("#id_secondary_space").select2();
  {% if request.GET.space %}
    $("#id_secondary_space").val('{{ request.GET.space }}');
    $("#id_secondary_space").trigger('change');
  {% endif %}

});
</script>
{% endblock %}
