{% extends 'multiplicity/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}{% if information %}{{ information.title }}{% else %}Add information{% endif %}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
      <div class="panel panel-body">
        <div class="panel-heading">
          <h3>Information</h3>
          {% if topic %}
            <p>{{ topic }}</p>
          {% endif %}
        </div>
          <div class="panel-body" style="margin-top:30px">
            <form method="post" class="form form-horizontal" enctype="multipart/form-data">
              {% bootstrap_form form layout='horizontal' %}
              {% buttons %}

              {% if not topic %}
              <div class="form-group">
                <label class="col-md-3 control-label" for="processes">Processes</label>
                <div class="col-md-9">
                  <select class="form-control" name="process" id="processes">
                    <option value=""></option>
                    {% for details in processes %}
                      <option value="{{ details.id }}" {% if information.process == details %}selected{% endif %}>{{ details.code }}. {{ details.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              {% endif %}

              <div class="form-group">
                <label class="col-md-3 control-label" for="references">References</label>
                <div class="col-md-9">
                  <select class="form-control select2" name="references" id="references" multiple>
                    <option value=""></option>
                    {% for details in references %}
                      <option value="{{ details.id }}" {% if details in information.references.all %}selected{% endif %}>{{ details.title }} ({{ details.year }})</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-success">
                    Save
                  </button>
                </div>
              {% endbuttons %}
              {% csrf_token %}
          </form>
        </div>
      </div>
  </div>
</div>

{% endblock %}

{% block head %}
<style type="text/css">
.form-horizontal .col-md-3[for='id_content']{width:70%;text-align:left}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
{% endblock %}

{% block footer %}
  {% if topic %}
    <script type="text/javascript">
    $(function(){
      $("#id_position").closest(".form-group").hide();
      $("#id_title").closest(".form-group").hide();
      $("#id_photo").closest(".form-group").hide();
      $("#id_title").val("{{ topic.name }}");
    });
    </script>
  {% endif %}
{% endblock %}
