{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head floating-style{% endblock %}

{% block content %}
        <ul class="nav nav-tabs" style="width:75%">
            <li class="actve">
                <a data-toggle="tab" href="#demo-lft-tab-1" aria-expanded="true">Overview</a>
            </li>
            <li class="active">
                <a data-toggle="tab" href="#demo-lft-tab-2" aria-expanded="false">Academic literature</a>
            </li>
            <li>
                <a data-toggle="tab" href="#demo-lft-tab-3">Reports</a>
            </li>
            <li>
                <a data-toggle="tab" href="#demo-lft-tab-3">Universities</a>
            </li>
            <li>
                <a data-toggle="tab" href="#demo-lft-tab-3">Research Projects</a>
            </li>
        </ul>

<div class="row">
<div class=" panel col-md-9 main records">

    
  <div class="alert alert-success" style="margin-top:16px">
  <p>
    <i class="fa fa-info-circle"></i>
    <strong>15</strong>
    publications found.
  </p>
  </div>

      
      <div class="recordbox year-2017 type-16 tag-6 tag-47 tag-177 tag-43 tag-107 tag-21 tag-38 tag-180 tag-102 tag-108 tag-197 tag-146 tag-139 tag-261 tag-64 tag-175 tag-147 tag-16 tag-264 tag-165 tag-283 tag-284 ">
        <h3><a href="publication/495">Exploring the energy use drivers of 10 cities at microscale level</a></h3>
        <div class="row">
          <div class="col-md-2">
            <span class="type">
              Journal Article            </span>
            <br>
            2017          </div>
          <div class="col-md-10">
            Aristide Athanassiadis , Gabriela Fernandez, Joao Meirelles , Franziska Meinherz , Paul Hoekman , Yves Bettignies Cari          </div>
        </div>
      </div>
      
      <div class="recordbox year-2017 type-16 tag-1 tag-85 tag-107 tag-108 tag-11 tag-78 ">
        <h3><a href="publication/505">Urban metabolism: A review with reference to Cape Town</a></h3>
        <div class="row">
          <div class="col-md-2">
            <span class="type">
              Journal Article            </span>
            <br>
            2017          </div>
          <div class="col-md-10">
            Paul Klugman Currie and  Josephine Kaviti Musango and Nhlanhla Desire May          </div>
        </div>
      </div>
      
      <div class="recordbox year-2016 type-16 tag-1 tag-85 tag-7 tag-11 tag-107 tag-108 tag-78 ">
        <h3><a href="publication/449">Cape Town's Metabolism: Insights from a Material Flow Analysis</a></h3>
        <div class="row">
          <div class="col-md-2">
            <span class="type">
              Journal Article            </span>
            <br>
            2016          </div>
          <div class="col-md-10">
            Hoekman, Paul and von Blottnitz, Harro          </div>
        </div>
      </div>
      
      <div class="recordbox year-2015 type-29 tag-85 tag-107 tag-108 tag-11 tag-78 tag-7 ">
        <h3><a href="publication/222">Urban-Scale Material Flow Analysis in a South African Context: A Cape Town Feasibility Study</a></h3>
        <div class="row">
          <div class="col-md-2">
            <span class="type">
              Thesis            </span>
            <br>
            2015          </div>
          <div class="col-md-10">
            Paul Hoekman          </div>
        </div>
      </div>
      
      <div class="recordbox year-2013 type-16 tag-2 tag-1 tag-54 tag-85 tag-95 tag-22 tag-108 tag-107 tag-98 tag-97 tag-146 tag-38 tag-114 tag-115 tag-11 ">
        <h3><a href="publication/296">Quantification of urban metabolism through coupling with the life cycle assessment framework: concept development and case study</a></h3>
        <div class="row">
          <div class="col-md-2">
            <span class="type">
              Journal Article            </span>
            <br>
            2013          </div>
          <div class="col-md-10">
            Goldstein, Benjamin Paul and Birkved, Morten and Quitzau, Maj-Britt and Hauschild, Michael          </div>
        </div>
      </div>
      
      <div class="recordbox year-2012 type-29 tag-85 tag-107 tag-108 tag-11 tag-78 tag-169 ">
        <h3><a href="publication/230">From Eradication To Intervention: Urban Informal Ecosystem</a></h3>
        <div class="row">
          <div class="col-md-2">
            <span class="type">
              Thesis            </span>
            <br>
            2012          </div>
          <div class="col-md-10">
            Royden-Turner, Shannon          </div>
        </div>
      </div>
      
      <div class="recordbox year-2012 type-16 tag-95 tag-108 tag-101 tag-100 tag-126 tag-125 tag-22 tag-75 tag-128 tag-127 tag-47 tag-102 tag-1 tag-85 tag-11 tag-78 tag-107 ">
        <h3><a href="publication/195">Mainstreaming Urban Metabolism: Advances And Challenges In City Participation</a></h3>
        <div class="row">
          <div class="col-md-2">
            <span class="type">
              Journal Article            </span>
            <br>
            2012          </div>
          <div class="col-md-10">
            Hoornweg, Daniel A. and Campillo, Gisela and Saldivar-Sali, Artessa N. and Linders, Dennis and Sugar, Lorraine          </div>
        </div>
      </div>
      
      <div class="recordbox year-2011 type-16 tag-31 tag-26 tag-78 tag-11 tag-102 tag-108 tag-29 tag-47 tag-107 tag-187 tag-152 tag-162 tag-177 tag-180 tag-114 tag-115 tag-189 tag-188 tag-95 tag-22 tag-122 tag-133 tag-100 tag-101 tag-75 tag-35 tag-68 tag-8 tag-110 tag-9 tag-90 tag-191 tag-190 tag-76 tag-192 tag-193 tag-44 tag-113 tag-24 tag-194 tag-32 tag-195 tag-136 tag-138 tag-146 tag-197 tag-196 tag-139 tag-199 tag-200 tag-198 tag-201 tag-64 tag-14 tag-62 tag-43 tag-202 tag-69 tag-141 tag-126 tag-125 tag-99 tag-58 tag-203 tag-204 tag-48 tag-49 tag-19 tag-205 tag-124 tag-123 tag-112 tag-206 tag-207 tag-209 tag-208 tag-111 tag-212 tag-73 tag-21 tag-38 tag-211 tag-210 tag-213 ">
        <h3><a href="publication/257">Cities and greenhouse gas emissions: moving forward</a></h3>
        <div class="row">
          <div class="col-md-2">
            <span class="type">
              Journal Article            </span>
            <br>
            2011          </div>
          <div class="col-md-10">
            Hoornweg, Daniel and Sugar, Lorraine and Trejos Gomez, Claudia Lorena          </div>
        </div>
      </div>
      
      <div class="recordbox year-2010 type-16 tag-1 tag-86 tag-107 tag-108 tag-11 tag-13 ">
        <h3><a href="publication/518">Flows and fates of nickel--cadmium batteries in the City of Cape Town</a></h3>
        <div class="row">
          <div class="col-md-2">
            <span class="type">
              Journal Article            </span>
            <br>
            2010          </div>
          <div class="col-md-10">
            Mason-Jones, Kyle and von Blottnitz, Harro          </div>
        </div>
      </div>
      
      <div class="recordbox year-2009 type-16 tag-1 tag-138 tag-136 tag-190 tag-90 tag-108 tag-107 tag-199 tag-21 tag-194 tag-24 tag-146 tag-38 tag-139 tag-64 tag-212 tag-35 tag-115 tag-114 tag-11 tag-26 tag-221 tag-78 ">
        <h3><a href="publication/285">Greenhouse gas emissions from global cities</a></h3>
        <div class="row">
          <div class="col-md-2">
            <span class="type">
              Journal Article            </span>
            <br>
            2009          </div>
          <div class="col-md-10">
            Kennedy, Christopher and Steinberger, Julia and Gasson, Barrie and Hansen, Yvonne and Hillman, Timothy and Havranek, Miroslav and Pataki, Diane and Phdungsilp, Aumnad and Ramaswami, Anu and Mendez, Gara Villalba          </div>
        </div>
      </div>
      
      <div class="recordbox year-2008 type-16 tag-6 tag-135 tag-299 tag-291 tag-95 tag-113 tag-297 tag-187 tag-108 tag-300 tag-175 tag-164 tag-10 tag-30 tag-12 tag-11 tag-67 tag-13 tag-78 tag-79 tag-285 tag-293 ">
        <h3><a href="publication/503">In-Use Stocks of Metals: Status and Implications</a></h3>
        <div class="row">
          <div class="col-md-2">
            <span class="type">
              Journal Article            </span>
            <br>
            2008          </div>
          <div class="col-md-10">
            M. Gerst and T.E. Graedel          </div>
        </div>
      </div>
      
      <div class="recordbox year-2007 type-16 tag-1 tag-86 tag-107 tag-108 tag-11 tag-52 tag-78 ">
        <h3><a href="publication/176">A material flow analysis of wood and paper in Cape Town: is there potential to redirect flows in formal and informal sectors to foster use as a renewable resource?</a></h3>
        <div class="row">
          <div class="col-md-2">
            <span class="type">
              Journal Article            </span>
            <br>
            2007          </div>
          <div class="col-md-10">
            Nissing, Christian and von Blottnitz, Harro          </div>
        </div>
      </div>
      
      <div class="recordbox year-2007 type-16 tag-1 tag-85 tag-107 tag-108 tag-11 tag-78 ">
        <h3><a href="publication/154">Aspects of stocks and flows in the urban built environment of Cape Town</a></h3>
        <div class="row">
          <div class="col-md-2">
            <span class="type">
              Journal Article            </span>
            <br>
            2007          </div>
          <div class="col-md-10">
            Gasson, Barrie          </div>
        </div>
      </div>
      
      <div class="recordbox year-2004 type-16 tag-6 tag-135 tag-107 tag-108 tag-175 tag-11 tag-174 tag-295 tag-78 tag-186 tag-285 tag-293 ">
        <h3><a href="publication/501">THE MAGNITUDE AND SPATIAL DISTRIBUTION OF IN-USE ZINC STOCKS IN CAPE TOWN, SOUTH AFRICA</a></h3>
        <div class="row">
          <div class="col-md-2">
            <span class="type">
              Journal Article            </span>
            <br>
            2004          </div>
          <div class="col-md-10">
            D. van Beers and T.E. Graedel          </div>
        </div>
      </div>
      
      <div class="recordbox year-2003 type-16 tag-1 tag-135 tag-107 tag-108 tag-11 tag-13 tag-78 tag-186 ">
        <h3><a href="publication/402">The magnitude and spatial distribution of in-use copper stocks in Cape Town, South Africa</a></h3>
        <div class="row">
          <div class="col-md-2">
            <span class="type">
              Journal Article            </span>
            <br>
            2003          </div>
          <div class="col-md-10">
            Van Beers, D and Graedel, TE          </div>
        </div>
      </div>
      
  
  </div>

<div class="col-md-3 " style="margin-top:55px">
    <ul class="nav nav-section-menu nav-sidebar">
      <li class="nav-header">Filter by Year</li>
                      <li class="">
          <a href="#" class="nav-link filter" data-id="2017" data-type="year">2017 
            <span class="pull-right badge badge-default">2</span>
          </a>
        </li>
                      <li class="">
          <a href="#" class="nav-link filter" data-id="2016" data-type="year">2016 
            <span class="pull-right badge badge-default">1</span>
          </a>
        </li>
                      <li class="">
          <a href="#" class="nav-link filter" data-id="2015" data-type="year">2015 
            <span class="pull-right badge badge-default">1</span>
          </a>
        </li>
                      <li class="">
          <a href="#" class="nav-link filter" data-id="2013" data-type="year">2013 
            <span class="pull-right badge badge-default">1</span>
          </a>
        </li>
                      <li class="">
          <a href="#" class="nav-link filter" data-id="2012" data-type="year">2012 
            <span class="pull-right badge badge-default">2</span>
          </a>
        </li>
                      <li class="hide hide-year">
          <a href="#" class="nav-link filter" data-id="2011" data-type="year">2011 
            <span class="pull-right badge badge-default">1</span>
          </a>
        </li>
                      <li class="hide hide-year">
          <a href="#" class="nav-link filter" data-id="2009" data-type="year">2009 
            <span class="pull-right badge badge-default">1</span>
          </a>
        </li>
                      <li class="hide hide-year">
          <a href="#" class="nav-link filter" data-id="2008" data-type="year">2008 
            <span class="pull-right badge badge-default">1</span>
          </a>
        </li>
                      <li class="hide hide-year">
          <a href="#" class="nav-link filter" data-id="2007" data-type="year">2007 
            <span class="pull-right badge badge-default">2</span>
          </a>
        </li>
                      <li class="hide hide-year">
          <a href="#" class="nav-link filter" data-id="2004" data-type="year">2004 
            <span class="pull-right badge badge-default">1</span>
          </a>
        </li>
                      <li class="hide hide-year">
          <a href="#" class="nav-link filter" data-id="2003" data-type="year">2003 
            <span class="pull-right badge badge-default">2</span>
          </a>
        </li>
                  <li>
        <a href="#" class="show-all nav-link" data-type="year"><strong>Show all </strong>
          <i class="fa fa-angle-down"></i>
        </a>
      </li>
          </ul>
    <ul class="nav nav-section-menu nav-sidebar">
      <li class="nav-header">Filter by Type</li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="16" data-type="type">Journal Article 
              <span class="badge badge-default pull-right">13</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="29" data-type="type">Thesis 
              <span class="badge badge-default pull-right">2</span>
          </a>
        </li>
                </ul>
    <ul class="nav nav-section-menu nav-sidebar">
      <li class="nav-header">Filter by Tag</li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="108" data-type="tag">Cape Town 
              <span class="badge badge-default pull-right">15</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="11" data-type="tag">Urban 
              <span class="badge badge-default pull-right">14</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="107" data-type="tag">South Africa 
              <span class="badge badge-default pull-right">13</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="78" data-type="tag">Contemporary Point in Time 
              <span class="badge badge-default pull-right">13</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="1" data-type="tag">Case Study 
              <span class="badge badge-default pull-right">8</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="85" data-type="tag">Economy-Wide Material Flow Analysis (EW MFA) 
              <span class="badge badge-default pull-right">7</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="135" data-type="tag">Material Stock Analysis 
              <span class="badge badge-default pull-right">4</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="146" data-type="tag">London 
              <span class="badge badge-default pull-right">4</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="38" data-type="tag">United Kingdom 
              <span class="badge badge-default pull-right">4</span>
          </a>
        </li>
                      <li class="reg">
          <a href="#" class="nav-link filter" data-id="175" data-type="tag">City 
              <span class="badge badge-default pull-right">4</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="6" data-type="tag">Research and Analysis 
              <span class="badge badge-default pull-right">4</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="95" data-type="tag">Beijing 
              <span class="badge badge-default pull-right">4</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="186" data-type="tag">Future Scenario 
              <span class="badge badge-default pull-right">3</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="114" data-type="tag">Canada 
              <span class="badge badge-default pull-right">3</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="21" data-type="tag">United States 
              <span class="badge badge-default pull-right">3</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="285" data-type="tag">Material Flow Analysis 
              <span class="badge badge-default pull-right">3</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="139" data-type="tag">Los Angeles 
              <span class="badge badge-default pull-right">3</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="293" data-type="tag">Conservation of mass 
              <span class="badge badge-default pull-right">3</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="115" data-type="tag">Toronto 
              <span class="badge badge-default pull-right">3</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="64" data-type="tag">New York 
              <span class="badge badge-default pull-right">3</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="102" data-type="tag">Buenos Aires 
              <span class="badge badge-default pull-right">3</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="47" data-type="tag">Argentina 
              <span class="badge badge-default pull-right">3</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="22" data-type="tag">China 
              <span class="badge badge-default pull-right">3</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="90" data-type="tag">Spain 
              <span class="badge badge-default pull-right">2</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="125" data-type="tag">Amman 
              <span class="badge badge-default pull-right">2</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="194" data-type="tag">Geneva 
              <span class="badge badge-default pull-right">2</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="79" data-type="tag">Time Series 
              <span class="badge badge-default pull-right">2</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="76" data-type="tag">Colombia 
              <span class="badge badge-default pull-right">2</span>
          </a>
        </li>
                      <li class="hide hide-tag">
          <a href="#" class="nav-link filter" data-id="190" data-type="tag">Barcelona 
              <span class="badge badge-default pull-right">2</span>
          </a>
        </li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          <li>
        <a href="#" class="show-all nav-link" data-type="year"><strong>Show all </strong>
          <i class="fa fa-angle-down"></i>
        </a>
      </li>
          </ul>
  </div>
  </div>

{% endblock %}

{% block head %}
<style type="text/css">
.nav-tabs li{background:#fff;opacity:0.67;margin-right:2px}
.nav-tabs li.active{opacity:1}
.recordbox h3{font-size:17px}
.recordbox .type{font-weight:bold}
.recordbox{border-bottom:1px solid #ccc;padding-bottom:10px}
.recordbox a{color:#000}
.col-md-3 .nav-header{
    font-weight:bold;
    margin-top:22px;
    font-size:17px;
}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Academic Literature</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="cities">Cities</a></li>
        <li><a href="cities">{{ info.name }}</a></li>
        <li><a href="cities">Research</a></li>
        <li class="active">Academic Literature</li>
    </ol>

</div>
{% endblock %}
