{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ type.name }} List | {{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<h2>{% if type.name == "Thesis" %}Theses{% else %}{{ type.name }}s{% endif %}</h2>
<div class="alert alert-info" role="alert">
  Do you know of any <span style="text-transform: lowercase;">{% if type.name == "Thesis" %}theses{% else %}{{ type.name }}s{% endif %}</span> related to {{ info.name }} not on this list? <a href="{% url 'core:newreference' %}">Add missing information</a>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% include 'core/includes/references.list.html' %}

{% endblock %}

{% block head %}
<style type="text/css">
h3 a{font-size:16px}
.resourcelist h3{margin-bottom:0}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">

    <div id="page-title">
        <h1 class="page-header text-overflow">{{ info.name }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
        <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
        <li class="active">{{ type.name }} List</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
