{% extends 'multiplicity/base.html' %}
{% load static %}
{% load multiplicity_extras %}

{% block title %}{{ sector.name }} | {{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<h2 id="sector-title">{{ sector.name }}</h2>

<article class="sector">
  <section id="info">
    <div class="row">
      <div class="col-lg-4">
        <h3>General information</h3>
      </div>
      <div class="col-lg-8 text-right">
        <div class="section-menu">
          General information {% if datasets %} | <a onclick="scrollToDiv('datasets')">Datasets</a>{% endif %}
          {% if infrastructure %} | <a onclick="scrollToDiv('infrastructure')">Infrastructure</a>{% endif %}
          {% if references %} | <a onclick="scrollToDiv('references')">Documents</a>{% endif %}
          {% if photos %} | <a onclick="scrollToDiv('photos')">Photos</a>{% endif %}
        </div>
      </div>
    </div>

    <div class="row flex flex-wrap subsector-panels">
      {% for details in information %}
        <div class="col-lg-4 col-sm-6 flex-none single-subsector-panel">
          <div class="panel height-100">
            {% if details.photo %}
              <img class="img-responsive showpointer" onclick="showSubSector('{{ details.title }}')" src="{{ details.photo.image.medium.url }}" alt="">
            {% endif %}
            <div class="pad-all">
              <h3>{{ details.title }}</h3>
              <p>{{ details.content|truncatechars_html:200|safe }}</p>
              <a class="btn btn-dark" onclick="showSubSector('{{ details.title }}')">Show more</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="subsector-content">
    {% for details in information %}
      <div class="single-subsector-content" subsector="{{ details.title }}">
        <a class="btn btn-dark back-subsectors" onclick="backSubsectors()"><i class="fas fa-arrow-left fa-fw"></i> Back to subsectors</a>
        <h3>
          {{ details.title }}
          {% if request.user.is_staff %}
            <a href="{% url 'multiplicity:information_form' info.slug details.id %}" class="pull-right btn btn-warning"><i class="fa fa-pencil"></i></a>
          {% endif %}
        </h3>
        <p>{{ details.content|safe }}</p>

        {% if details.title == "Related Organizations" and organizations %}

          <ul>

            {% for organization in organizations %}
              <li><a href="{% url 'core:organization' organization.id %}">{{ organization.name }}</a> - {{ organization.get_type_display }}</li>
            {% endfor %}

          </ul>

        {% endif %}

        <a class="pull-right btn btn-dark back-subsectors" onclick="backSubsectors()"><i class="fas fa-arrow-left fa-fw"></i> Back to subsectors</a>
        {% if details.references.all %}
        <div class="source_box">
          <h4>Source(s)</h4>
          <ul>
            {% for reference in details.references.all %}
              <li><a href="{% url 'core:reference' reference.id %}">{{ reference.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    {% endfor %}
    </div>
  </section>

  {% if datasets %}
  <section id="datasets">
    <div class="row">
      <div class="col-lg-4">
        <h3>Datasets</h3>
      </div>
      <div class="col-lg-8 text-right">
        <div class="section-menu">
          <a onclick="scrollToDiv('info')">General information</a> | Datasets {% if infrastructure %} | <a onclick="scrollToDiv('infrastructure')">Infrastructure</a> {% endif %}
          {% if references %} | <a onclick="scrollToDiv('references')">Documents</a>{% endif %}
          {% if photos %} | <a onclick="scrollToDiv('photos')">Photos</a>{% endif %}
        </div>
      </div>
    </div>

    <div id="graph">
      <div class="loading text-center text-2x pad-all mar-top">
        <span class="mar-top pad-all">Loading graph</span>
        <i class="fas fa-cog fa-spin mar-top"></i>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th width="300">Dataset</th>
          <th>Coverage</th>
          <th>Preview</th>
        </tr>
      </thead>
      {% for details in datasets %}
        <tr>
          <td><a href="{% url 'multiplicity:dataset' info.slug details.id %}">{{ details.name }}</a></td>
          <td>{{ details.timeframe.start }} - {{ details.timeframe.end }}</td>
          <td><a class="btn btn-sm btn-mint" data-id="{{ details.id }}" data-graph="{{ details.graph.id|default:4 }}" onclick="previewChart({{ details.id }}, {{ details.graph.id|default:4 }})"><i class="far fa-fw fa-chart-bar"></i> Preview chart</a></td>
        </tr>
      {% endfor %}
    </table>
  </section>
  {% endif %}

  {% if infrastructure %}
  <section id="infrastructure">
    <div class="row">
      <div class="col-lg-4">
        <h3>Infrastructure</h3>
      </div>
      <div class="col-lg-8 text-right">
        <div class="section-menu">
          <a onclick="scrollToDiv('info')">General information</a> {% if datasets %} | <a onclick="scrollToDiv('datasets')">Datasets</a> {% endif %} | Infrastructure
          {% if references %} | <a onclick="scrollToDiv('references')">Documents</a>{% endif %}
          {% if photos %} | <a onclick="scrollToDiv('photos')">Photos</a>{% endif %}
        </div>
      </div>
    </div>
    <div id="infrastructure-anchor"></div>
    <div id="infrastructure-list" class="row col-panels mar-top">
      {% if types %}
        {% for details in types %}
          {% if details.total %}
            <div class="col-lg-6 single-infrastructure">
              <div class="panel">
                <div class="row flex flex-wrap">
                  <div class="col-lg-4">
                    <a onclick="showInfrastructureData('{{ details.slug }}')">
                        
                      <img class="img-responsive" src="{% get_static_prefix %}multiplicity/img/space_types/{{ details.slug }}.jpg" alt="">

                    </a>
                  </div>
                  <div class="col-lg-8 pad-all">
                    <h4 class="name">{{ details.name }}</h4>
                    <p>
                      <a onclick="showInfrastructureData('{{ details.slug }}')">{{ details.total }} records</a> found
                      <img class="marker" src="{% get_static_prefix %}multiplicity/img/markers/marker.{{ details.marker_color }}.svg" alt="" />
                    </p>
                    <a class="btn btn-dark" onclick="showInfrastructureData('{{ details.slug }}')">View list</a>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    {% if types %}
      <div class="data mar-top">
        {% for type in types %}
          {% if type.total %}
            <div class="single-dataset" infrastructure="{{ type.slug }}">
              <a class="btn btn-dark" onclick="backInfrastructure()"><i class="fas fa-arrow-left fa-fw"></i> Back to overview</a>
              <a class="btn btn-mint" onclick="showInfrastructureMap(type_{{ type.id }})"><i class="fas fa-map fa-fw"></i> Show on map</a>
              <h3>{{ type.name }}</h3>
              <div class="table-responsive">
                <table class="table table-striped datatable mar-top">
                  <thead>
                  <tr>
                    <th>Name</th>
                    {% for featuredetails in type.features %}
                      <th>{{ featuredetails.name }}</th>
                    {% endfor %}
                  </tr>
                  </thead>
                  <tbody>
                  {% for details in spaces_list|get_item:type.id %}
                    <tr>
                      <td><a href="{% url 'multiplicity:space' info.slug type.slug details.slug %} ">{{ details.name }}</a></td>
                        {% for featuredetails in type.features %}
                          <td>{% nested_get feature details.id featuredetails.id %}</td>
                        {% endfor %}
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <div id="map" class="mar-top">
      {% include 'multiplicity/includes/map.html' %}
    </div>
  </section>
  {% endif %}

  {% if references %}
    <section id="references">
      <div class="row">
        <div class="col-lg-4">
          <h3>Documents</h3>
        </div>
        <div class="col-lg-8 text-right">
          <div class="section-menu">
            <a onclick="scrollToDiv('info')">General information</a> {% if datasets %} | <a onclick="scrollToDiv('datasets')">Datasets</a> {% endif %}
            {% if infrastructure %} | <a onclick="scrollToDiv('infrastructure')">Infrastructure</a> {% endif %}
            | Documents
            {% if photos %} | <a onclick="scrollToDiv('photos')">Photos</a>{% endif %}
          </div>
        </div>
      </div>

      {% include 'core/includes/references.list.html' %}
    </section>
  {% endif %}

  {% if photos %}
    <section id="photos">
      <div class="row">
        <div class="col-lg-4">
          <h3>Photos</h3>
        </div>
        <div class="col-lg-8 text-right">
          <div class="section-menu">
            <a onclick="scrollToDiv('info')">General information</a> {% if datasets %} | <a onclick="scrollToDiv('datasets')">Datasets</a> {% endif %}
            {% if infrastructure %} | <a onclick="scrollToDiv('infrastructure')">Infrastructure</a> {% endif %}
            {% if references %} | <a onclick="scrollToDiv('references')">Documents</a>{% endif %}
            | Photos
          </div>
        </div>
      </div>

      {% include 'multiplicity/includes/multimedia.html' %}

    </section>
  {% endif %}

</article>

{% if request.user.is_staff %}
  <div class="panel panel-colorful panel-success">
    <div class="panel-body">
      <h3>Admin options</h3>
      <ul>
        <li><a href="{% url 'multiplicity:information_form' info.slug %}">Add information</a></li>
        <li><a href="{% url 'multiplicity:admin_data_overview' info.slug %}">City admin page</a></li>
      </ul>
    </div>
  </div>
{% endif %}

{% endblock %}

{% block head %}
<script src="{% static 'ie/js/highcharts.js' %}"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/streamgraph.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/treemap.js"></script>
<script src="https://code.highcharts.com/modules/sankey.js"></script>

{% include 'multiplicity/graphs/options.html' %}
{% include 'multiplicity/graphs/series.time.html' %}
{% include 'multiplicity/graphs/series.column.html' %}
{% include 'multiplicity/graphs/series.drill.html' %}

{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">

  <div id="page-title">
    <h1 class="page-header text-overflow">{{ info.name }}</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="./"><i class="pli-home"></i></a></li>
    <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
    <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
    <li class="active">{{ sector.name }}</li>
  </ol>

</div>
{% endblock %}

{% block footer %}
  <script>
    // smooth scroll to an element on the page
    function scrollToDiv(id){
      $('html,body').animate({
       scrollTop: $("#" + id).offset().top - 20
      }, 'slow');
    }

    // show content of a subsector
    function showSubSector(subSectorTitle){
      $(".subsector-panels").slideUp();
      $(".back-subsectors").show();
      $(".single-subsector-content").hide();
      $(".single-subsector-content").each(function() {
        if ($(this).attr("subsector") == subSectorTitle) {
          $(this).fadeIn();
        }
      });
      scrollToDiv("sector-title");
    };

    // show cards with subsectors, hide content
    function backSubsectors() {
      $(".subsector-panels").slideDown();
      $(".single-subsector-content").slideUp();
      scrollToDiv('info');
    };

    // map with golden ratio
    $(window).on("load", function() {
      var containerWidth = $("article.sector").width();
      $("#map").height(containerWidth / 1.618);
      leafletMap.invalidateSize();
    })

    // show data of specific infrastructure
    function showInfrastructureData(infrastructure){
      $("section#infrastructure .data .single-dataset, #infrastructure-list").slideUp();
      $("section#infrastructure .data .single-dataset[infrastructure='" + infrastructure + "']").slideDown();
      scrollToDiv("infrastructure-anchor");
    };

    // show specific infrastructure on map
    function showInfrastructureMap(infrastructure){
      showOneLayer(infrastructure);
      scrollToDiv("map");
    };

    // show infrastructure list, hide dataset
    function backInfrastructure() {
      $("#infrastructure-list").slideDown();
      $(".single-dataset").slideUp();
      scrollToDiv("infrastructure-anchor");
      showAllLayers();
    }

    // show a preview of the dataset's chart, id = dataset id, type = chart type id
    function previewChart(id, type){
      $("#graph").html("<div class='loading text-center text-2x pad-all mar-top'><span class='mar-top pad-all'>Loading graph</span><i class='fas fa-cog fa-spin mar-top'></i></div>");
      url = '/cities/{{ info.slug }}/datasets/' + id + '/graph/' + type;
      $("#graph").load(url);
    };

    // make clicked button active, scroll to top of chart
    $("article.sector section#datasets .table a.btn").on("click", function() {
      $("article.sector section#datasets .table a.btn").removeClass("active");
      $(this).addClass("active");
      scrollToDiv("datasets");
    });

    {% if datasets %}
      // We want the first dataset to start loading so we check the ID and type and load this
      first_dataset = $("#datasets table tr:first-child a.btn-mint");
      first_dataset.addClass("active");
      previewChart(first_dataset.data("id"), first_dataset.data("graph"));
    {% endif %}
  </script>

{% endblock %}
