{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}
{% if info.location.lat %}
<div class="panel padding10">

  <div class="panel-content">
    <div class="row">
      <div class="col-lg-12">
        <div id="map"></div>
      </div>
    </div>
  </div>

  <div class="panel-title">
    <p>Map of <strong>{{ info.name }}</strong>.</p>
  </div>

</div>
{% endif %}

{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
<style type="text/css">
#map{height:65vh;border:1px solid #ccc}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">

    <div id="page-title">
        <h1 class="page-header text-overflow">{{ info.name }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
        <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
        <li><a href="{% url 'multiplicity:map_home' info.slug %}">Maps</a></li>
        <li class="active">{{ page|title }}</li>
    </ol>

</div>
{% endblock %}

{% block footer %}
  {% if info.location %}
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
    <script type="text/javascript">

      var map = L.map('map').setView([{{ info.location.lat }}, {{ info.location.lng }}], {{ info.location.zoom }});

      var geojson = {{ info.location.geojson|safe }}
      var geojsonlayer = L.geoJSON(geojson).addTo(map);

      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ MAPBOX_API_KEY }}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        {% if page == "satellite" %}
          id: 'mapbox.satellite'
        {% else %}
          id: 'mapbox.streets'
        {% endif %}
      }).addTo(map);

        map.scrollWheelZoom.disable();
        map.fitBounds(geojsonlayer.getBounds());
    </script>
  {% endif %}
{% endblock %}
