{% extends 'multiplicity/base.html' %}
{% load static %}
{% load humanize %}
{% load multiplicity_extras %}

{% block title %}{{ type.name }} | {{ info.name }} | {{ info.country }}{% endblock %}
{% block container %}stretch-bg-head floating-style{% endblock %}

{% block content %}

{% if list %}
<div class="panel padding10">
  <div class="panel-content">
    <div id="map"></div>
  </div>
  <div class="panel-title">
    <p>Map with <strong>{{ type.name|lower }}</strong> in <strong>{{ info.name }}</strong></p>
  </div>
</div>
{% endif %}

{% if subtopic.description %}
  <div class="panel">
    <div class="panel-body">
      <h3>{{ info.name }}</h3>
        {{ subtopic.description|safe }}
    </div>
  </div>
{% endif %}

{% if data_out|length %}
  <canvas id="data_out" width="400" height="300"></canvas>
{% endif %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-body">
      <h3>Overview</h3>

      <table class="table table-striped datatable">
        <thead>
        <tr>
          <th>Name</th>
          {% for details in features %}
            <th>{{ details.name }}</th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
      {% for details in list %}
        <tr>
          <td><a href="{% url 'multiplicity:space' info.slug type.slug details.slug %} ">{{ details.name }}</a></td>
            {% for featuredetails in features %}
              <td>{% nested_get feature details.id featuredetails.id %}</td>
            {% endfor %}
        </tr>
      {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />

{% if list %}
  <style type="text/css">
    #map{height:700px}
  </style>
  {% endif %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">

    <div id="page-title">
        <h1 class="page-header text-overflow">{{ info.name }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'multiplicity:index' %}">Cities</a></li>
        <li><a href="{% url 'multiplicity:city' info.slug %}">{{ info.name }}</a></li>
        <li><a href="{% url 'multiplicity:infrastructure_list' info.slug %}">Infrastructure</a></li>
        <li class="active">{{ type.name }}</li>
    </ol>

</div>

{% endblock %}

{% block footer %}

  {% if data_out %}
    <script>

    count = 0;
    function getcolor() {
    var colors = [

"#f7fbff",
"#deebf7",
"#c6dbef",
"#9ecae1",
"#6baed6",
"#4292c6",
"#2171b5",
"#08519c",
"#08306b",

"#f7fcf5",
"#e5f5e0",
"#c7e9c0",
"#a1d99b",
"#74c476",
"#41ab5d",
"#238b45",
"#006d2c",
"#00441b",

"#ffffff",
"#f0f0f0",
"#d9d9d9",
"#bdbdbd",
"#969696",
"#737373",
"#525252",
"#252525",
"#000000",

"#fcfbfd",
"#efedf5",
"#dadaeb",
"#bcbddc",
"#9e9ac8",
"#807dba",
"#6a51a3",
"#54278f",
"#3f007d",
    ]
      count++;
      return colors[count]
    }

    var ctx = document.getElementById("data_out");
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for details in single %}"{{ details.timeframe.name }}", {% endfor %}],
            datasets: [

            {% for key, value in data_out.items %}
            {
                label: '{{ key }}',
                data: [{% for details in value %}{% if details.quantity %}{{ details.quantity }},{% endif %}{% endfor %}],
                borderWidth: 1,
                borderColor: '#444444',
                backgroundColor: getcolor(),
            },
            {% endfor %}
            ],
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    },
                    stacked: true,
                }]
            }
        }
    });
    </script>
  {% endif %}
  {% if list %}
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
    <script type="text/javascript">

    var mymap = L.map('map').setView([{{ info.location.lat }}, {{ info.location.lng }}], {{ info.location.default_zoom|default_if_none:12 }});

    {% include 'multiplicity/includes/markers.html' %}

      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiY29tbXVuaXRyZWUiLCJhIjoiY2lzdHZuanl1MDAwODJvcHR1dzU5NHZrbiJ9.0ETJ3fXYJ_biD7R7FiwAEg', {
        maxZoom: 19,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: 'mapbox.streets'
      }).addTo(mymap);


      {% for details in list %}
        {% if details.location.lat %}
                L.marker([{{ details.location.lat }}, {{details.location.lng }}], {icon:{{ type.marker_color }}marker}).addTo(mymap)
          .bindPopup("<b>{{ details.name }}</b><br /><a href='{% url 'multiplicity:space' info.slug type.slug details.slug %}'>{% if details.photos.count %}<img src='{{ details.photos.first.image.thumbnail.url }}' /></a>{% endif %}<br /><a class='button is-info' href='{% url 'multiplicity:space' info.slug type.slug details.slug %}'>View details</a>. ", {minWidth:200});
        {% endif %}
      {% endfor %}
      mymap.scrollWheelZoom.disable();

    </script>
  {% endif %}
{% endblock %}
