{% extends 'multiplicity/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
Discussion board
{% endblock %}

{% block container %}

{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'team:controlpanel' %}">Back-end</a></li>
        {% if category.group == 'project' %}
          <li><a href="{% url 'team:projects' %}">Projects</a></li>
        {% endif %}
        <li><a href="{% url 'team:taskforce' info.taskforce.id %}">{{ info.taskforce.name }}</a></li>
        {% if edit %}
          <li><a href="{% url 'team:ticket' info.id %}">{{ info.title }}</a></li>
          <li class="active">Edit ticket</li>
        {% else %}
          <li class="active">New ticket</li>
        {% endif %}
    </ol>

  <h2>Task</h2>

  {% if edit %}
    <form action="{% url 'team:editticket' info.id %}" method="post" class="form form-horizontal">
  {% else %}
    <form action="{% url 'team:newticket' category.id %}" method="post" class="form form-horizontal">
  {% endif %}
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons %}
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success">
              Save
            </button>
          </div>
         </div>
      {% endbuttons %}
  </form>

  <p class="jumpdown"><a href="{% url 'team:taskforce' category.id %}">Back to task force</a></p>

{% endblock %}

{% block sidebar %}

{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){
  $("#id_deadline").attr("type", "date");
  {% if info.taskforce.id != 10 %}
    $("#id_unit").closest(".form-group").hide();
  {% endif %}
});
</script>
{% endblock %}
