{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ page|title }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-body">
          <div class="panel-heading">
              <h3>{{ page|title }}</h3>
          </div>
          <div class="panel-body">

            
            <div class="list-group">
                {% for info in list %}
                <a href="{% url 'core:newsarticle' info.id %}" class="list-group-item ">
                    <h4 class="list-group-item-heading">{{ info.title }}</h4>
                    <p><span class="date">{{ info.created_at|date:"M d, Y" }}</span></p>
                    <p class="list-group-item-text">{{ info.content|striptags|truncatewords:25 }}</p>
                </a>
                {% endfor %}
            </div>

          </div>
          </div>
      </div>
  </div>

{% endblock %}

{% block head %}
<style type="text/css">
.list-group a .date{color:#333;opacity:0.7}
.main-content-block .list-group a{color:#333}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{{ page|title }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'core:community_home' %}">Community</a></li>
        <li class="active">{{ page|title }}</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
