{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}SAMPLETITLE{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-body">
        <div class="panel-heading">
            <h3>Contact Metabolism of Cities</h3>
        </div>
        <div class="panel-body">
            <p>You can e-mail us at <strong>info@<span>metabolismofcities.org</span></strong>, or by filling out the form below.</p>
        </div>

        <form method="post" class="form form-horizontal">
        
          <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="name" required />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">E-mail</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="email" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Affiliation</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="affiliation" placeholder="Optional" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Message</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="message" required></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success">Send</button>
            </div>
          </div>

         {% csrf_token %}

        </form>

        </div>
    </div>
</div>

{% endblock %}

{% block head %}
<style type="text/css">
textarea.form-control {height:244px}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Contact</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'core:about' %}">About</a></li>
        <li class="active">Contact</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
