{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}SAMPLETITLE{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}
{% include 'multiplicity/includes/top.navbar.html' %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">
        <h3>Your content here...</h3>
        <p>Start putting content on grids or panels, you can also use different combinations of grids.
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
  <div id="page-title">
    <h1 class="page-header text-overflow">About Us</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="./"><i class="pli-home"></i></a></li>
    <li><a href="{% url 'core:about' %}">About</a></li>
    <li class="active">About Us</li>
  </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
