{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ info.name }} | Journals{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-body">
      <div class="panel-body">

        <div class="fixed-fluid">
          <div class="fixed-md-200 pull-sm-left fixed-right-border">

            <div class="text-center">

            {% if info.image %}
              <img src="{{ info.image.url }}" alt="" class="thumbnail" />
            {% endif %}

              <dl>
                {% if info.publisher %}
                  <dt>Publisher</dt>
                  <dd><a href="{% url 'core:publisher' info.publisher.id %}">{{ info.publisher.name }}</a></dd>
                {% endif %}

                {% if info.website %}
                  <dt>More information</dt>
                  <dd><a href="{{ info.website }}">Visit website</a></dd>
                {% endif %}
              </dl>
            </div>

          </div>

          <div class="fluid">

            <h3>{{ info.name }}</h3>

            {% if info.description %}
              <p class="description">
                {{ info.description|linebreaksbr }}
              </p>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-body">

        <div class="panel-heading">
          <h3>Publications</h3>
        </div>

        <div class="panel-body">

          {% include 'core/references.list.html' %}
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block head %}
<style type="text/css">
dd{margin-bottom:20px}
img.thumbnail{max-width:100%}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Journals</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'core:resources_home' %}">Resources</a></li>
        <li><a href="{% url 'core:resources' 'publications' %}">Publications</a></li>
        <li><a href="{% url 'core:resources' 'journals' %}">Journals</a></li>
        <li class="active">{{ info.name }}</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
