{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Journals{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-body">
        <div class="panel-heading">
            <h3>Journals</h3>
        </div>
        <div class="panel-body">
            {{ page.content|safe }}
            <table class="table table-striped datatable">
              <thead>
                <tr>
                    <th>Journal</th>
                    <th>View details</th>
                </tr>
              </thead>
              <tbody>
                {% for info in list %}
                <tr>
                  <td><a href="{% url 'core:journal' info.id %}">{{ info.name }}</a></td>
                  <td>{{ info.num_references }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Resources</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'core:resources_home' %}">Resources</a></li>
        <li><a href="{% url 'core:resources' 'publications' %}">Publications</a></li>
        <li class="active">Journals</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
