{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Literature{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-body">
        <div class="panel-heading">
            <h3>Literature</h3>
        </div>
        <div class="panel-body">
          <p><a href="{% url 'core:references' %}">Publications</a></p>
          <p><a href="{% url 'core:newreference' %}">Add publication</a></p>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Literature</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li class="active">Literature</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
