{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ page.title }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-body">
        <div class="panel-heading">
            <h3>{{ page.title }}</h3>
        </div>
        <div class="panel-body">
            <p>
                {{ page.content|safe }}
            </p>
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Country</th>
                </tr>
                {% for info in list %}
                <tr>
                  <td><a href="{% url 'core:organization' info.type info.id %}">{{ info.name }}</a</td>
                  <td>{{ info.location.name }}</td>
                  <td>{{ info.location.country.name }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{{ page.title }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'core:community_home' %}">Community</a></li>
        <li class="active">{{ page.title }}</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
