{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}News{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-body">
          <div class="panel-heading">
              <h3>{{ page.title }}</h3>
          </div>
          <div class="panel-body">
              <p>
                  {{ page.content|safe }}
              </p>
          </div>
          </div>
      </div>
  </div>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{{ page.title }}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{{ section }}">{{ section|title }}</a></li>
        {% if page.parent %}
        <li><a href="">{{ page.parent.title }}</a></li>
        {% endif %}
        {% if page.type.name == "Blog" %}
          <li><a href="{% url 'core:blog' %}">Blog</a></li>
        {% elif page.type.name == "News" %}
          <li><a href="{% url 'core:news' %}">News</a></li>
        {% endif %}
        <li class="active">{{ page.title }}</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
