{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}People{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-body">
        <div class="panel-heading">
            <h3>People</h3>
        </div>
        <div class="panel-body">
          {{ page.content|safe }}
            <div class="alert alert-info">There are a total of <strong>{{ list|length }}</strong>
            people in our database.
            </div>

            <table class="table table-striped datatable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Publications</th>
                  <th>City</th>
                  <th>Affiliation</th>
                </tr>
              </thead>
              <tbody>
                {% for info in list %}
                  <tr>
                    <td><a href="{% url 'core:peopledetails' info.id %}">{{ info.firstname }} {{ info.lastname }}</a></td>
                    <td>{{ info.reference_set.count }}</td>
                    <td>{{ info.city.name }}</td>
                    <td>{{ info.affiliation }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'ie/css/datatables.css' %}" />
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">

    <div id="page-title">
        <h1 class="page-header text-overflow">People</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'core:about' %}">Community</a></li>
        <li class="active">People</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

<script type="text/javascript" src="{% static 'ie/js/datatables.js' %}"></script>
<script type="text/javascript">
$(function(){
    $(".datatable").DataTable({
      "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
    });
});
</script>

{% endblock %}
