{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}{{ page.title }}{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-body">
      <div class="panel-body">
        <h3>{{ page.title }}</h3>
        <p>{{ page.content|safe }}</p>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      {% if page.title == "Projects" %}
        <th>Project leader</th>
      {% else %}
        <th>Researcher</th>
      {% endif %}
      <th>Institution</th>
    </tr>
  </thead>
  <tbody>
  {% for details in list %}
    <tr>
      <td><a href="{% url 'core:project' details.type details.id %}">{{ details.name }}</a></td>
      <td>{{ details.researcher }}</td>
      <td>{{ details.institution }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
  <div id="page-title">
    <h1 class="page-header text-overflow">{{ page.title }}</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="./"><i class="pli-home"></i></a></li>
    <li><a href="{% url 'core:section_home' page.section %}">{{ page.get_section_display }}</a></li>
    <li class="active">{{ page.title }}</li>
  </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
