{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Publishers{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-body">
        <div class="panel-heading">
            <h3>Publishers</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>Publisher</th>
                    <th>View details</th>
                </tr>
                {% for info in list %}
                <tr>
                  <td><a href="{% url 'core:publisher' info.id %}">{{ info.name }}</a></td>
                  <td></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Literature</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'core:literature' %}">Literature</a></li>
        <li class="active">Publishers</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
