{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">

  <div class="col-lg-12">
      <div class="panel">
        <div class="panel-body">
        <h2>{{ page.title }}</h2>
        {{ page.content|safe }}
      </div>
    </div>
  </div>

</div>

{% for details in list %}

<div class="row">
    <div class="col-lg-6">

        <div class="panel">
            <div class="panel-body text-center bg-{% if details.color %}{{ details.color.css }}{% else %}success{% endif %}">
                
                <i class="{{ details.icon }} icon-5x"></i>

                <h4 class="text-light">{{ details.name }}: Summary</h4>
                <p class="pad-all"><a href="" class="btn btn-dark">Join this task force</a></p>
                <ul class="list-unstyled text-center pad-top mar-no row">
                    <li class="col-xs-4">
                        <span class="text-lg text-semibold">{{ details.taskforcemember_set.active.count }}</span>
                        <p class="text-sm mar-no">Members</p>
                    </li>
                    <li class="col-xs-4">
                        <span class="text-lg text-semibold">{{ details.taskforceticket_set.completed.count }}</span>
                        <p class="text-sm mar-no">Completed tasks</p>
                    </li>
                    <li class="col-xs-4">
                        <span class="text-lg text-semibold">{{ details.taskforceticket_set.pending.count }}</span>
                        <p class="text-sm mar-no">Open tasks</p>
                    </li>
                </ul>
            </div>
            <div class="list-group bg-trans pad-btm">
            {% for member in details.taskforcemember_set.leader %}
                <a class="list-group-item" href="{% url 'core:peopledetails' member.user.people.id %}"><i class="fa fa-user"></i> {{ member.user.first_name }} {{ member.user.last_name }} <span class="badge badge-dark">Leader</span></a>
            {% endfor %}
            {% for member in details.taskforcemember_set.member %}
                <a class="list-group-item" href="{% url 'core:peopledetails' member.user.people.id %}"><i class="fa fa-user"></i> {{ member.user.first_name }} {{ member.user.last_name }}</a>
            {% endfor %}
            </div>
        </div>

    </div>

    <div class="col-lg-6">
        <h3>{{ details.name }}</h3>
        <p>
            {{ details.category_description|linebreaksbr }}
        </p>
        <p>
            <a href="{% url 'core:taskforce' details.slug %}" class="btn btn-{{ details.color.css }}">Read more</a>
            <a href="http://" class="btn btn-{{ details.color.css }}">Join {{ details.name }}</a>
        </p>
    </div>
    
</div>

{% endfor %}
    

{% endblock %}

{% block head %}
<style type="text/css">
.widget img.widget-bg {
  top:-50px;
}
</style>
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">About Us</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="{% url 'core:about' %}">About Us</a></li>
        <li class="active">Task Forces</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
