{% extends 'multiplicity/base.html' %}
{% load static %}

{% block title %}Videos{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-body">
          <div class="panel-heading">
              <h3>Videos</h3>
          </div>
          <div class="panel-body">
            {{ page.content|safe }}
          </div>
        </div>
    </div>
</div>

<div class="row blog">
{% for info in list %}
  <div class="col-lg-4">
    <div class="panel pad-all">
        <div class="blog-header">
          <a href="videos/{{ info.id }}">
          {% if info.site == "youtube" %}
            <img class="img-responsive" src="https://img.youtube.com/vi/{{ info.url }}/0.jpg" alt="Image">
          {% endif %}
          </a>
        </div>
        <div class="blog-content">
            <div class="blog-title media-block">
                <a href="videos/{{ info.id }}" class="btn-link">
                    <h2>{{ info.title }}</h2>
                </a>
            </div>
        </div>
    </div>
  </div>

  {% if forloop.counter|divisibleby:"3" %}
    </div>
    <div class="row blog">
  {% endif %}

{% endfor %}
</div>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">Videos</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="./"><i class="pli-home"></i></a></li>
        <li><a href="resources">Resources</a></li>
        <li><a href="{% url 'core:resources' 'multimedia' %}">Multimedia</a></li>
        <li class="active">Videos</li>
    </ol>

</div>
{% endblock %}

{% block footer %}

{% endblock %}
